<!-- cards/templates/cards/card.html -->
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<article>
    <h4>{{ card.question }}</h4>
    {% if not check_card %}
        <p>Answer: {{ card.answer }}</p>
        <h5>Topic: {{ card.topic }}</h5>
        <a href="{% url 'card-update' card.id %}" role="button">
            ✏️ Edit Card
        </a>
        <div></div>
        <a href="{% url 'card-delete' card.id %}" role="button" onclick="return confirm('Are you sure you want to delete this card?');">
            ❎ Delete
        </a>
    {% else %}
        <details>
            <summary>Reveal Answer</summary>
            <p>{{ card.answer }}</p>
        </details>
        <hr>
        {% include "cards/card_check_form.html" with solved=True %}
        {% include "cards/card_check_form.html" with solved=False %}
    {% endif %}
 </article>